/* Variables */
body {
  margin: 0; }

html {
  background: url(/style/images/bg.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.JPG', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.bg.JPG', sizingMethod='scale');
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

div.user_sign {
  float: right;
  margin: 10px; }
  div.user_sign a {
    text-decoration: none;
    color: #333333; }
    div.user_sign a:hover {
      color: rgba(214, 153, 6, 0.7); }

div.info {
  position: fixed;
  bottom: 20px;
  color: #db5c7f;
  /* #fcf2db;*/
  background: rgba(0, 0, 0, 0.7);
  width: 530px; }
  div.info div.header {
    text-align: right;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 30px 50px 10px 0;
    float: right; }
    div.info div.header h1 {
      margin: 0px; }
  div.info div.social {
    padding: 0 50px 30px 0px;
    float: right; }

div.add_post {
  width: 478px;
  float: right;
  margin: 40px 90px 0 0; }
  div.add_post h1 {
    font-size: 3em;
    color: #db5c7f;
    margin: 5px 0; }
  div.add_post .art {
    padding: 30px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white; }
    div.add_post .art:hover {
      background-color: rgba(219, 92, 127, 0.7); }
    div.add_post .art .art_info {
      margin-top: 10px; }
      div.add_post .art .art_info .art_author {
        color: #80bdf6;
        font-weight: bold; }
      div.add_post .art .art_info .art_date {
        font-size: 0.6em; }
  div.add_post .all {
    padding: 6px 8px;
    text-align: center;
    margin: 7px 0 20px 7px;
    width: 95px;
    float: right;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    color: white; }
    div.add_post .all a {
      color: white;
      text-decoration: none; }
    div.add_post .all:hover {
      background-color: rgba(214, 153, 6, 0.7); }
    div.add_post .all:hover a {
      color: black; }
  div.add_post div img {
    max-width: 416px; }

/***************** YOUR POST PAGE ************************/
div.add_post.your_post {
  width: 476px;
  margin: 40px auto;
  float: none; }
  div.add_post.your_post h1 {
    font-size: 2em;
    color: white;
    margin: 0 0 21px 0; }

/***************** NEW POST PAGE ************************/
div.form_newpost {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  margin: 40px 50px;
  color: white;
  width: 530px;
  overflow: hidden; }
  div.form_newpost h1 {
    margin-top: 0; }
  div.form_newpost label input, div.form_newpost label textarea {
    border: 1px solid black;
    width: 100%; }
    div.form_newpost label input:focus, div.form_newpost label textarea:focus {
      outline: none;
      border: 1px solid #db5c7f; }
  div.form_newpost label textarea {
    height: 50px; }
  div.form_newpost .submit {
    background-color: #db5c7f;
    float: left;
    color: white;
    padding: 9px 12px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold; }
    div.form_newpost .submit:hover {
      background-color: rgba(219, 92, 127, 0.7); }
  div.form_newpost div.submit {
    font-family: arial;
    margin-left: 5px;
    padding: 9px 10px;
    font-size: 0.80em;
    background-color: #888888; }
    div.form_newpost div.submit:hover {
      background-color: rgba(136, 136, 136, 0.7); }
    div.form_newpost div.submit a {
      color: white; }
  div.form_newpost div.error {
    color: #db5c7f; }
  div.form_newpost input[type='file'] {
    background: #000;
    color: #fff;
    padding: 6px 0px 6px 10px;
    vertical-align: top;
    margin: 2px 0 10px 0; }

/*********************************************************************
 *                    RESIZING THE WINDOW                             *
 *********************************************************************/
@media screen and (max-width: 1150px) {
  div.info {
    width: 350px; } }
@media screen and (max-width: 700px) {
  div.add_post {
    float: none;
    margin: auto;
    width: 478px; }
    div.add_post div img {
      max-width: 416px; }

  div.info {
    overflow: hidden;
    position: inherit; }

  div.add_post {
    clear: both;
    overflow: hidden; }

  div.add_post.your_post {
    width: 478px; }

  div.info {
    width: 530px; } }
@media screen and (max-width: 990px) and (min-width: 700px) {
  div.info {
    width: 160px;
    height: 410px; }

  div.info div.header {
    /*JP    
    float:none;padding: 150px 13px 32px 0;
    text-align: right;
    */
    padding: 106px 0px 39px 5px; }
    div.info div.header h1 {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      /*JP*/
      margin: -9px -44px 42px 0px; }

  div.info div.social {
    padding: 0 32px 29px 23px; } }
@media screen and (min-width: 990px) {
  div.add_post {
    width: 562px; }
    div.add_post div img {
      max-width: 500px; }

  div.add_post.your_post {
    width: 562px; } }
